* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1032px;
    padding: 0 16px;
    margin: 0 auto;
  }


/*  header  */
#header {
    background-color: #A2E981;
    height: 100px;
    display: flex; 
    align-items: center;
}

#header .inner {
    display: flex;
    align-items: center;
}

#header .text {
    font-size: 40px;
}

#header nav {
    margin-left:auto;
}

#header .inner ul {
    display: flex;
    align-items: center;
}

#header .inner ul li {
    margin-left: 40px;
}

#header nav ul li a {
    color: black;
}

#header nav ul li a:hover {
    color: aliceblue;
}

#header nav ul li:hover {
    color: aliceblue;
}

/* edittopic */
#edittopic {
    margin: 80px 0;
}

#edittopic h1 {
    margin-bottom: 40px;
}



#edittopic .editarea .content {
    margin-bottom: 50px;
}

#edittopic .editarea input {
    width: 100%;
    padding: 5px;
    margin-top: 7px;
}

#edittopic .editarea textarea {
    width: 100%;
    margin-top: 7px;
    resize: vertical;
    height: 200px;
}

#edittopic button {
    width: 80px;
    line-height: 2.5;
    margin-right: 20px;
}

#edittopic .update:hover {
    background-color: #A2E981;
}

#edittopic .back:hover {
    background-color: red;;
}

/*  footer  */
footer {
    background-color: #A2E981;
    height: 100px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer nav ul li {
    margin: 40px;
}