* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-color: #A6F4AE;
}


.container {
    margin: 30px auto;
    max-width: 1120px;
}


.content {
    width: 100%;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 40px;
}


input {
    width: 50%;
    padding: 7px;
    margin: 20px 0;
}


.hissu {
    display: inline-block;
    color: #fff;
    background-color: red;
    padding: 1px 7px;
}

.error {
    color: red;
}

a {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin: 10px 0;
    padding: 5px;
    background-color: black;
    color: #fff;
    text-decoration: none;
}

button {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin: 10px 0;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #fff;
    color: black;
}

a:hover {
    background-color: #fff;
    color: black;
}

