* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A2E981;
    height: 100px;
}

#header .text {
    font-size: 40px;
}

#header nav ul {
    display: flex;
}

#header nav ul li {
    margin-left: 50px;
}

#header nav ul li a {
    color: black;
}

#header nav ul li a:hover {
    color: aliceblue;
}

#header nav ul li:hover {
    color: aliceblue;
}


/*  newtopic  */
#newtopic {
    margin-top: 40px;
}

#newtopic .newtopic_text {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

dl.topic_area {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

dd, dt {
    flex: 100%; /* 2つの要素を1行に表示 */
    box-sizing: border-box;
    margin-bottom: 8px;
}

dt input, dt textarea {
    width: 100%;
}

dt input {
    padding: 4px;
}

dt textarea {
    resize: vertical;
    height: 200px;
    box-sizing: border-box;
}

#newtopic button {
    width: 9%;
    padding: 9px;
    margin-right: 15px;
}

#newtopic .cancel:hover {
    background-color: red;
}

#newtopic button:hover {
    background-color: black;
    color: #fff;
    border-radius: 2px;
}

#topic {
    border-top: 1px solid black;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
}

#topic h1 {
    text-align: center;
}

#topic .topiccontent {
    padding: 60px 0;
    border-bottom: 1px solid black;
    max-width: 800px;
    margin: 0 auto 30px auto;
}

#topic .topiccontent span {
    font-size: 10px;
}

#topic .topiccontent p {
    margin-bottom: 40px;
}


#topic ul {
    display: flex;
    width: 100%;
}

#topic ul li {
    margin-right: 40px;
}

#topic ul li a:hover {
    background-color: yellow;
}

#topic ul li a{
    display: inline-block;
    text-align: center;
    background-color: #A2E981;
    padding: 6px;
    font-size: 5px;
    color: black;
    border-radius: 3px;
    width: 80px;
}

#topic ul li button {
    background-color: #A2E981;
    padding: 5px 13px;
    font-size: 5px;
    border: none;
    border-radius: 3px;
    width: 80px;
}
#topic ul .replay:hover {
    background-color: aqua;
}

#topic ul .comment:hover {
    background-color: black;
    color: #fff;
}

#topic ul .hilight:hover {
    background-color: yellow;
}

#topic ul .update:hover{
    background-color: green;
}


#topic ul li .delete-link:hover {
    background-color: red;
    color: #fff;
}

/*  footer  */
footer {
    background-color: #A2E981;
    height: 100px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer nav ul li {
    margin: 40px;
}

